!!!
%html
  %head
    %title Braille Partial Forward Translator
    %script{:src => "https://code.jquery.com/jquery-3.3.1.min.js",
            :integrity => "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
	    :crossorigin => "anonymous"}
    %script{:src => "js/optionsummary.js"}
  %body
    %h1 Braille Partial Forward Translator
    %form{:name => "brltrans", :method => "post", :enctype=>"multipart/form-data"}
      %ul
        %li
          %label{:for => "file"} Text File:
          %input{:type => "file", :name => "file"}
        %fieldset
          - @tablespecs.uniq { |item| item.name }.each do |contraction|
            %li
              %input{:type => "checkbox", :name => "trans[#{contraction.name}]", :value => "#{contraction.name}"}
              %label{:for => "trans[#{contraction.name}]"} #{contraction.category} - #{contraction.name}
        %li
          %input{:type => "submit", :value => "Translate", :class => "button"}
        %li
          %label{:for => "selected_options"} Selected Options
          %textarea{:name => "selected_options", :id => "selected_options"}
